/* Called to Shine Style Sheet (http://www.calledtoshine.com)
 
version:	1.0
date:		4th January 2010
author:		Cameron Gilroy
email:		info@brooksidepublishers.com
website:	http://www.brooksidepublishers.com
/* --- */

/* @group Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-weight: normal;
	font-style: normal;
}

ol,ul {
	list-style: none;
}

caption,th {
	text-align: left;
}

q:before,q:after {
	content: '!';
}

abbr,acronym {
	border: 0;
}

/* @end */

/* @group Generic Classes */

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

img.left {
	margin-right: 1em;
	margin-bottom: 1.8em;
}

img.right {
	margin-left: 1em;
	margin-bottom: 1.8em;
}

.text-right {
	text-align: right;
}

.half {
	width: 45%;
}

.hide, .hidden {
	visibility: hidden;
	width: 0!important;
	height: 0!important;
	line-height: 0!important;
	padding: 0!important;
	margin: 0!important;
}

article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section { 
	display: block; 
}

/* @end */

/* @group Menu */

nav {

}

nav li {
	display: inline;
}

/* @end */

footer {
}

footer p {
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6, p, blockquote, form, fieldset, table, ul, ol {
	margin: 0 0 1em;
}

/* @end */

/* @group Fixers */

* a {
	position: relative;
}

a {
	outline: none;
}

a img {
	border: none;
}

fieldset, img {
	border: 0;
}

q:before, q:after {
	content: '';
}

/* @end */

/* @group Base Elements Styling */

html {
	min-height: 100%;
}

body {
	color: #black;
	font: 14px/1.75em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code {
	font: 1.1em monaco, courier, monospace;
}

hr {
	display: none;
}

/* @end */

/* @group Delighters */

a {
	-o-transition-duration: .33s;
	-o-transition-property: color, background-color;
	-webkit-transition-duration: .33s;
	-webkit-transition-property: color, background;
}

/* @end */

.ie-message {
	color: black;
	width: 100%;
	position: absolute;
	background: #ffffcc;
	font-size: 2em;
	line-height: 1.1em;
	top: 0;
	left: 0;	
}

.ie-message p {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.ie-message a, .ie-message a:hover {
	color: black;
	text-decoration: underline;
	border: none;
}